@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);

/* 숨김 콘텐츠 */
.a11y-hidden {
	background-color: red;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
* , *::before, *::after{
	box-sizing: border-box; /*공부해볼것 */
	
}

html{
	font-size: 10px;
}

/* 링크 스타일 */
a {
	color: inherit;
	text-decoration: none;
}


/* 본문 스타일 */
body{
	/* em, rem 단위 사용해보기 */
	font-size: 1.4rem;
	color: #212121;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	background: yellow;
	background-image: url(./images/bg_flower.png),
	linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 60%, #fff 60%, #fff 100%);
	background-repeat: no-repeat, repeat;
	background-position: 50% 0, 0 0;
}

/* 레이아웃 */
.header, .visual, .main , .slogan, .footer-inner{
	width: 940px;
	margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
	position: absolute;
	top: 45px;
	left:60px;
	z-index: 1;
}
/* 텍스트 링크 모음 */
.member{
	/* background-color: aqua; */
	text-align: right;
	padding: 4px 0;
	/* position: relative;
	right: -10px; */
	/* transform 속성으로 10픽셀만큼 이동하기 */
	transform: translateX(10px);
}

.member li {
	/* background-color: rebeccapurple; */
	display: inline-block;
}

.member a {
	/* background-color: khaki; */
	padding: 6px 10px;
	/* 실버를 위한, 영역을 크게하여 잘누르게한다, 모바일일때 버튼이 작아서 잘 안눌리는 경험  */
	display: inherit;
	text-transform: uppercase;
}
/* 
 구조 선택자로 이용한 하나의 방법
.member li:last-child a {
	padding-right: 0;
} */


.divider{
	margin-right: 4px;
}


/* 메인메뉴 */
.navigation {
	padding-bottom: 40px;
}

.menu {
	border-top: 2px solid #212121;
	background: orangered linear-gradient( 
		to bottom,
	#ef9126 0%,
	#e85e2c 35%,
	#e85e2c 70%,
	#ef9126 100%);
	border-radius: 0 0 5px 5px;
	padding-left: 230px;
	height: 47px;
	position: relative;
}

/* 1,2,3 메뉴 에대해서 left0을 하기위해  */
.menu > li:nth-child(-n+3){
	position: relative;
}


.menu-item {
	float: left;
	border-left: 2px solid #fff;
}

.menu-button {
	border: 0;
	background: transparent;
	padding: 0 23px;
	line-height: 45px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;;
	text-shadow: 1px 1px 0 #000,-1px -1px 0 #000;
}

/* is-active 구체성 -> 20점 */
.is-active .menu-button {
	color: yellow;
}

.is-active .sub-menu {
	display: block;
	white-space: nowrap;
}



.is-active .menu-button::after{
	content: "";
	display: block;
	border-top: 2px solid #212121;
}

.sub-menu {
	position: absolute;
	display: none;
	top: 47px;
	padding: 4px 0;
	/* 부모를 기준으로 레프트0 탑 값을 맞춤  */
}

.menu-html, .menu-css, .menu-standards{
	left: 0;
} 

.menu-accessibility, .menu-qna, .menu-archive {
	right: 0;
}

.sub-menu a {
	display: inline-block;
	padding: 6px 0;
}


.sub-menu li {
	display: inline-block;
}

.sub-menu a::before {
	content: '\e802'; 
	font-family: 'fontello';
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before{
	content: "\e801";
}

.sub-menu a:hover,
.sub-menu a:focus{
	color: red;
}


/* 비주얼 */


@keyframes moveEffect{
	0%{
		font-size: 12px;
		color: rgba(0, 0, 0	, 0.2);
		transform: translate(0,0);
	}
	100%{
		font-size: 24px;
		color: rgba(0, 0, 0	, 1);
		transform: translate(400px, 75px);
	}
}

.visual{
	height: 120px;
}

.visual-text {
	font-family: Georgia, 'Times New Roman', Times, serif;
	animation-name: moveEffect;
	animation-duration: 2000ms;
	animation-fill-mode: forwards;
	display: inline-block;
}


/* 메인 */
.main {
	background-color: aqua;
	/* BFC  공부 할것 */
	height: 50vh;
	display: flow-root; 
}

.group {
	margin: 0 15px;
	float: left;
}



.group1 {
	background-color: violet;
	width: 250px;
}
.group2 {
	background-color: salmon;
	width: 380px;

}
.group3 {
	background: gold;
	width: 190px;
}

/* 슬로건 */
.slogan{
	background: green;
	height: 10vh;
	clear: both;
}

.footer{
	background: #ccc 
	linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%);
}

.footer-inner{
	height: 15vh;
	background: gray;
}